$primary: #dc3545;
$secondary: #ff5555;
$info: #850505;
$success: #28a745;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$custom-colors: (
	'tertiary': #485058
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// * {
//     outline: 1px solid limegreen !important;
// }

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
